<section class="form-container">
  <form
      action="https://docs.google.com/a/heapspace.rs/forms/d/1Kdhhii70Si8qrq8KkKFYjn3hjsrYySJoCVXlotddiL8/formResponse?embedded=true"
      method="POST" onsubmit="return false;" data-form="google">

    <label for="entry_1851344323">Ime i prezime</label>
    <input type="text" name="entry.1851344323" value="" id="entry_1851344323" dir="auto" required="required"
           data-name=""/>


    <label for="entry_671117816">Mejl</label>
    <input type="email" name="entry.671117816" value="" id="entry_671117816" dir="auto" required="required"/>

    <label for="entry_1628898703">Dolaziš iz firme (i koje) ili si pojedinac?</label>
    <input type="text" name="entry.1628898703" value="" class="ss-q-short" id="entry_1628898703"/>

    <label for="entry_1181896999">Tema koju želiš da predstaviš?</label>
    <textarea name="entry.1181896999" rows="8" cols="0" class="ss-q-long" id="entry_1181896999" dir="auto"
              required=""></textarea>

    <div>
      <input type="submit" value="Prijavi se"/>
    </div>


  </form>
</section>

