		<!-- Scripts -->
		<script src="/js/jquery-2.1.4.min.js"></script>
		<script src="/js/jquery.scrollex.min.js"></script>
		<script src="/js/jquery.scrolly.min.js"></script>
		<script src="/js/skel.min.js"></script>
		<script src="/js/util.js"></script>
		<script src="/js/main.js"></script>
		<%= render '/_ga.html' %>

		<!-- google maps -->
		<% if (@item[:view_map] == true) %>
		<script type="text/javascript" src="http://maps.google.com/maps/api/js"></script>
<script type="text/javascript">
function initializeGoogleMap(mapCanvas, mapLat, mapLng, mapName) {
	var latlng = new google.maps.LatLng(mapLat, mapLng);
	var settings = {
		zoom: 15,
		center: latlng,
		mapTypeControl: false,
		navigationControl: true,
		navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
		mapTypeId: google.maps.MapTypeId.ROADMAP
    };
	var map = new google.maps.Map(mapCanvas, settings);
	var marker = new google.maps.Marker({
      position: latlng, map: map,
      title:mapName
	});
}
$(function() {
	$('.map').each(function(index) {
		var lat = $(this).data("mapLat")
		var lng = $(this).data("mapLng")
		var mapName = $(this).data("mapName");
		initializeGoogleMap(this, lat, lng, mapName);
	});
});
</script>
		<% end %>
