<div class="event_box">
<div id="map_canvas" class="map"
	data-map-name="<%= venue_name(@item) %>"
	<%= venue_map_position(@item) %> ></div>
	<div class="venue1">
	<%=event_datum(@item)%> | <%= @item[:event_time] %>
	</div>
	<div class="venue2">
	<%= venue_name(@item) %> | <%= venue_address(@item) %>
	</div>
	<% if (@item[:event_meetup] != nil) %>
	<div class="venue3">
		<a href="http://www.meetup.com/HeapSpace/events/<%= @item[:event_meetup] %>/" class="button fit special">meetup</a>
	</div>
	<% end %>
</div>