				<!-- Footer -->
					<a href="#" name="kontakt"></a>
					<footer id="footer">
						<ul class="icons">
							<li><a href="https://github.com/HeapSpace" class="icon fa-github"><span class="label">GitHub</span></a></li>
							<li><a href="https://twitter.com/heap_space" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="https://www.linkedin.com/company/4871127" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
						</ul>
						<ul class="copyright">
							<li>&copy; HeapSpace</li><li>Made with <i class="fa fa-heart"></i></li>
						</ul>
					</footer>
