						<h1><a href="/index.html"><img src="/images/hs_logo_small.png"><span>HeapSpace</span></a></h1>
						<nav id="nav">
							<ul>
								<li class="special">
									<a href="#menu" class="menuToggle"><span>Meni</span></a>
									<div id="menu">
										<ul>
											<li><a href="/index.html">Početna</a></li>
											<li><a href="/events">Događaji</a></li>
											<li><a href="/opensource.html">Open-Source</a></li>
											<li><a href="/oglasi.html">Open-Source</a></li>
											<li><a href="/kids">HS :heart: kids</a></li>
											<li><a href="/ukljuci-se.html">Uključi se</a></li>
											<li><a href="/index.html#kontakt">Kontakt</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</nav>
