						<h1><a href="/index.html"><img src="/images/hs_logo_small.png"><span>&nbsp;</span></a></h1>
						<nav id="nav">
							<ul>
								<li>
									<a href="/events/index.html"><span>Događaji</span></a>
								</li>
								<li>
									<a href="/kids/index.html"><span>Kids</span></a>
								</li>
								<li>
									<a href="/opensource.html"><span>Open-Source</span></a>
								</li>
								<li class="special">
									<a href="/index.html#kontakt"><span>Kontakt</span></a>
								</li>
								<li>
									<a href="#" class="menuToggle"></a>
								</li>
							</ul>
						</nav>
