<!DOCTYPE HTML>
<html>
	<head>
		<title>HeapSpace | <%= h(@item[:title]) %></title>
		<%= render '/_top.html' %>
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<%= render '/_header.html' %>
					</header>

				<!-- Main -->
					<article id="main">
						<% if @item[:img] != nil %>
						<style>
							#main header {background-image: url(<%= @item[:img] %>);}
						</style>
						<% end %>

						<header>
							<% if (@item[:title_img] != nil) %>
								<img src="<%= @item[:title_img] %>" title="<%= h(@item[:title]) %>" class="title">
							<% else %>
								<h2><%= h(@item[:title]) %></h2>
								<h3><%= h(@item[:subtitle]) %></h3>
							<% end %>
						</header>


						<section class="wrapper style5">
							<div class="inner">
								<%= yield %>
								<%= render '/_related_line.html' %>
							</div>
						</section>

						<% if @item[:sponsor] != nil %>
						<section class="wrapper style5" id="sponsors">
<div class="or-spacer"><div class="mask"></div><span><i class="fa fa-trophy"></i></span></div>
							<div class="inner">
								<% @item[:sponsor].each { |s| %>
								<%= render "/sponsor/#{s}.html" %>
								<% } %>
							</div>
						</section>
						<% end %>

						<% if @item[:partner] != nil %>
						<section class="wrapper style5" id="partners">
<div class="or-spacer"><div class="mask"></div><span><i class="fa fa-diamond"></i></span></div>
							<div class="inner">
								<% @item[:partner].each { |s| %>
								<%= render "/partner/#{s}.html" %>
								<% } %>
							</div>
						</section>
						<% end %>

					</article>

				<%= render '/_footer.html' %>

			</div>

		<%= render '/_bottom.html' %>

	</body>
</html>