<!DOCTYPE HTML>
<html>
	<head>
		<title>HeapSpace | <%= h(@item[:title]) %></title>
		<%= render '/_top.html' %>
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<%= render '/_header.html' %>
					</header>

				<!-- Main -->
					<article id="main">
						<% if @item[:img] != nil %>
						<style>
							#main header {background-image: url(<%= @item[:img] %>);}
						</style>
						<% end %>

						<header>
							<h2><%= h(@item[:title]) %></h2>
							<h3><%= h(@item[:subtitle]) %></h3>
						</header>

						<section class="wrapper style5">
							<div class="inner">
								<%= yield %>
								<%= render '/_related_line.html' %>
								<% if @item[:sponsor] != nil %>
								<%= render "/sponsor/#{@item[:sponsor]}.html" %>
								<% end %>
							</div>
						</section>
					</article>

				<%= render '/_footer.html' %>

			</div>

		<%= render '/_bottom.html' %>

	</body>
</html>