<!DOCTYPE HTML>
<html>
	<head>
		<title>HeapSpace</title>
		<%= render '_top' %>
	</head>
	<body class="landing">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<%= render '_header' %>
					</header>

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<div id="logo"><img src="/images/hs_logo.png"></div>
							<h2>HeapSpace</h2>
							<p>Podižemo tehnološku zajednicu<br />
							kroz deljenje znanja<br />
							i iskustava.</p>
							<ul class="actions">
								<li><a href="/signup.html" class="button special">Upadaj!</a></li>
							</ul>
						</div>
						<a href="#one" class="more scrolly">Saznaj više</a>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style1 special">
						<div class="inner">
							<header class="major">
								<h2>Dobrodošli u HeapSpace!</h2>
								<p>
								HeapSpace je otvorena organizacija koju čini<br/>
								grupa entuzijasta okupljena oko zajedničkog cilja<br/>
								da pospeši tehnološko preduzetničku svest Srbije.<br/>
								<br/>
								Naša misija je podići tehnološku zajednicu kroz<br />
								kontinualno unapređenje znanja i deljenje iskustava,<br/>
								na kvalitetan i otvoren način.<br/>
								</p>
							</header>
							<ul class="icons major">
								<li><span class="icon fa-diamond major style1"><span class="label">Lorem</span></span></li>
								<li><span class="icon fa-heart-o major style2"><span class="label">Ipsum</span></span></li>
								<li><span class="icon fa-code major style3"><span class="label">Dolor</span></span></li>
							</ul>
						</div>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style3 special">
						<div class="inner">
							<header class="major">
								<h2>HeapSpace Aktivnosti</h2>
								<p><b>10+</b> godina. <b>50+</b> događaja. <b>3</b> konferencije. <b>1500+</b> članova.</p>
							</header>
							<ul class="features">
								<li class="icon fa-paper-plane-o"><a href="events.html">
									<h3>Događaji</h3>
									<p>Organizujemo predavanja, panele, radionice, hackatone i konferencije. Delimo znanje na sve načine, naročito mladima.</p>
								</a></li>
								<li class="icon fa-laptop"><a href="https://voxxeddays.com/belgrade15" target="_blank">
									<h3>Voxxed Belgrade 2015</h3>
									<p>Voxxed Belgrade je najveća IT konferencija na ovim prostorima, deo Devoxx-a, zakazana za 1. i 2. oktobar 2015.</p>
								</a></li>
								<li class="icon fa-code"><a href="opensource.html">
									<h3>Open-Source</h3>
									<p>Podržavamo i razvijamo Open-Source projekte u Srbiji. Radimo na projektu Otvorenog znanja za sve.</p>
								</a></li>
								<li class="icon fa-headphones"><a href="community.html">
									<h3>Zajednice</h3>
									<p>Okupljamo druge tehnološke zajednice u regionu i tražimo način da udružimo snage i usmerimo aktivnosti. </p>
								</a></li>
								<li class="icon fa-heart-o"><a href="tech.html">
									<h3>Tehnologije</h3>
									<p>Bavimo se aktuelnim tehnologijama, praksama, metodologijama.
									Bez obzira na jezik kojim kodiraš, dobrodošao si!
									</p>
								</a></li>
								<li class="icon fa-flag-o"><a href="firme.html">
									<h3>Firme</h3>
									<p>Sarađujemo sa domaćim i stranim firmama: dajemo preporuke, predlažemo kandidate, držimo prezentacije.</p>
								</a></li>
							</ul>
						</div>
					</section>

				<!-- CTA -->
					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>HEAPSPACE</h2>
								<p>Otvoreni tehnološki hub<br/><br/>
								info@heapspace.rs<br/>
								+381.64.1294217<br/>
								</p>
							</header>
							<ul class="actions vertical">
								<li><a href="#" class="button fit special">Activate</a></li>
								<li><a href="#" class="button fit">Learn More</a></li>
							</ul>
						</div>
					</section>

				<%= render '_footer' %>

			</div>

		<%= render '_bottom' %>

	</body>
</html>