<!DOCTYPE HTML>
<html>
	<head>
		<title>HeapSpace</title>
		<%= render '/_top.html' %>
	</head>
	<body class="landing">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<%= render '/_header.html' %>
					</header>

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<div id="logo"><span id="hslogo"><img src="/images/hs_logo.png"></span></div>
							<h2>HeapSpace</h2>
							<p>Podižemo tehnološku zajednicu<br />
							kroz deljenje znanja<br />
							i iskustava.</p>
							<ul class="actions">
								<li><a href="/signup.html" class="button special">Upadaj!</a></li>
							</ul>
						</div>
						<a href="#one" class="more scrolly"></a>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style1 special">
						<div class="inner">

<ul class="events">
<% hs_new_events_of_kind().each{ |it| %>
	<li>
		<a href="<%=relative_path_to(it)%>" title="<%=h(it[:title])%>">
			<div class="date">
				<div class="day"><%=it[:event_at].day%></div>
				<div class="month"><%=rsmonth(it[:event_at].month)%></div>
			</div>
			<div class="when-where">
				<h4 class="title"><%=kind_icon(it[:kind])%> <%=h(it[:title])%></h4>
				<div class="time">9:00 — 10:00</div>
				<div>@ Parobrod</div>
			</div>
		</a>
	</li>
</ul>
<%}%>
						</div>
					</section>

				<!-- Three -->
					<a href="#" name="aktivnosti"></a>

					<section id="three" class="wrapper style3 special" style="padding-top:0">
<div class="or-spacer"><div class="mask"></div><span><i class="fa fa-code"></i></span></div>
						<div class="inner">
							<header class="major">
								<h2>HeapSpace Aktivnosti</h2>
								<p><b>10+</b> godina. <b>50+</b> događaja. <b>3</b> konferencije. <b>1500+</b> članova.</p>
							</header>

							<ul class="features">
								<li><a href="/events/index.html">
									<h3><i class="fa fa-star"></i>Događaji</h3>
									<p>Organizujemo predavanja, panele, radionice, hackatone i konferencije. Delimo znanje mladima, početnicima i profesionalcima.</p>
								</a></li>
								<li><a href="https://voxxeddays.com/belgrade15" target="_blank">
									<h3><i class="fa fa-star"></i>Voxxed Belgrade</h3>
									<p>Voxxed Belgrade je najveća nezavisna IT konferencija na ovim prostorima, zvanični deo Devoxxa. Održava se u oktobru.<br></p>
								</a></li>
								<li><a href="opensource.html">
									<h3><i class="fa fa-star"></i>Open-Source</h3>
									<p>Podržavamo i razvijamo Open-Source projekte u Srbiji, bez obzira na tehnologiju. Radimo na projektu Otvorenog znanja za sve.</p>
								</a></li>
								<li><a href="community.html">
									<h3><i class="fa fa-star"></i>HS &lt;3 kids</h3>
									<p>Ostavljamo svet onima koji dolaze posle nas. Hajde onda da ih spremimo na najbolji način!</p>
								</a></li>
								<li><a href="podkast">
									<h3><i class="fa fa-star"></i>Podkast</h3>
									<p>Pričamo puno, ali malo kažemo. A možda i ne.
									</p>
								</a></li>
								<li><a href="digital.html">
									<h3><i class="fa fa-star"></i>Digitalni razvoj</h3>
									<p>Paralelno sa tehnologijom, digitalno stvaralaštvo je vid delovanja koji podjednako negujemo.<br><br></p>
								</a></li>
							</ul>
						</div>
					</section>

				<!-- CTA -->
<div class="or-spacer"><div class="mask"></div><span><i class="fa fa-heart"></i></span></div>
					<section id="cta" class="wrapper style4" style="padding-top:0;">
						<div class="inner">
							<header>
								<h2>HEAPSPACE</h2>
								<p>Otvoreni tehnološki hub<br/><br/>
								info@heapspace.rs<br/>
								+381.64.1805800<br/>
								</p>
							</header>
							<ul class="actions vertical">
								<li><a href="#" class="button fit special">Activate</a></li>
								<li><a href="#" class="button fit">Learn More</a></li>
							</ul>
						</div>
					</section>
				<%= render '/_footer.html' %>

			</div>

		<%= render '/_bottom.html' %>

	</body>
</html>