<!DOCTYPE HTML>
<html>
	<head>
		<title>HeapSpace</title>
		<%= render '/_top.html' %>
	</head>
	<body class="landing">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<%= render '/_header.html' %>
					</header>

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<div id="logo"><span id="hslogo"><img src="/images/hs_logo.png"></span></div>
							<h2>HeapSpace</h2>
							<p>Podižemo tehnološku zajednicu<br />
							kroz deljenje znanja<br />
							i iskustava.</p>
							<ul class="actions">
								<li><a href="/zajednica.html" class="button special">Upadaj!</a></li>
							</ul>
							<h3><a href="https://www.youtube.com/watch?v=aVJAVTSmfqU" target="blank"><i class="fa fa-television"></i> Prati GeekNight #1 UŽIVO</a></h3>
						</div>
						<a href="#one" class="more scrolly"><i class="fa fa-arrow-down"></i></a>
					</section>


				<!-- One -->
					<section id="one" class="wrapper style1 special" style="padding-top:0">
<div class="or-spacer"><div class="mask"></div><span><i class="fa fa-calendar"></i></span></div>
						<div class="inner">


<%= render '/_events.html' %>

						</div>
					</section>

<%
oglasi = hs_items_of_kind('oglas')
if (oglasi != nil) %>

<section id="two" class="wrapper style2 special" style="padding-top:0">
<div class="or-spacer"><div class="mask"></div><span><i class="fa fa-newspaper-o"></i></span></div>
						<div class="inner">

<h3>Traži se</h3>
<ul class="actions">
<% oglasi.each{ |itid| it = @items[itid] %>
<li><%= link_to(h(it[:title]), it, :class => 'button small') %></li>
<% } %>
</ul>

						</div>
					</section>

<% end %>

				<!-- Three -->
					<section id="three" class="wrapper style3 special" style="padding-top:0">
<div class="or-spacer"><div class="mask"></div><span><i class="fa fa-code"></i></span></div>
						<div class="inner">
							<header class="major">
								<h2>HeapSpace Aktivnosti</h2>
								<p><b>10+</b> godina. <b>50+</b> događaja. <b>3</b> konferencije. <b>1500+</b> članova.</p>
							</header>

							<ul class="features">
								<li><a href="/events/index.html">
									<h3><i class="fa fa-star"></i>Događaji</h3>
									<p>Organizujemo predavanja, panele, radionice, hackatone i konferencije. Delimo znanje mladima, početnicima i profesionalcima.</p>
								</a></li>
								<li><a href="https://voxxeddays.com/belgrade15" target="_blank">
									<h3><i class="fa fa-star"></i>Voxxed Belgrade</h3>
									<p>Voxxed Belgrade je najveća nezavisna IT konferencija na ovim prostorima, zvanični deo Devoxxa. Održava se u oktobru.<br></p>
								</a></li>
								<li><a href="opensource.html">
									<h3><i class="fa fa-star"></i>Open-Source</h3>
									<p>Podržavamo i razvijamo Open-Source projekte u Srbiji, bez obzira na tehnologiju. Radimo na projektu Otvorenog znanja za sve.</p>
								</a></li>
								<li><a href="/kids/index.html">
									<h3><i class="fa fa-star"></i>HS &lt;3 kids</h3>
									<p>Ostavljamo svet onima koji dolaze posle nas. Hajde onda da ih spremimo na najbolji način!</p>
								</a></li>
								<li><a href="podkast">
									<h3><i class="fa fa-star"></i>Podkast</h3>
									<p>Pričamo puno, nešto i kažemo. Sluštajte naše kratke i britke podkast emisije.
									</p>
								</a></li>
								<li><a href="digital.html">
									<h3><i class="fa fa-star"></i>Digitalni razvoj</h3>
									<p>Digitalno stvaralaštvo je vid delovanja koji podjednako negujemo.<br><br></p>
								</a></li>
							</ul>

							<p>
								<br/>
								Neka <a href="/faq.html">pitanja su <b>odgovorena</b></a>, za ostalo nam se <a href="#kontakt"><b>javite</b>.</a>
								<br/><br/>
							</p>

						</div>
					</section>

				<!-- CTA -->
					<section id="cta" class="wrapper style4" style="padding-top:0;">
<div class="or-spacer"><div class="mask"></div><span><i class="fa fa-heart"></i></span></div>
						<div class="inner">
							<header>
								<h2>HEAPSPACE</h2>
								<div style="margin-bottom: 20px; font-style:italic;">Mi smo tu da napravimo promenu.</div>
								<div><i class="fa fa-envelope"></i> info@heapspace.rs</div>
								<div style="padding-bottom: 40px;"><i class="fa fa-phone-square"></i> +381.64.1805800 (Tanja)</div>
							</header>
							<ul class="actions vertical">
								<li><a href="/zajednica.html" class="button fit special">HeapSpace</a></li>
								<li><a href="/prijava.html" class="button fit">Prijavi se</a></li>
							</ul>
						</div>
					</section>
				<%= render '/_footer.html' %>

			</div>

		<%= render '/_bottom.html' %>

	</body>
</html>