@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'font-awesome.min.css';
@import 'libs/skel';
@import 'libs/skel_init';
@import "compass/css3";

// links in article
article#main a {
	padding-right: 4px;
	padding-left: 4px;
	@include border-radius(4px);

	&:hover {
		border-bottom-color: transparent;
		background-color: _palette(accent5, bg);
		color: _palette(accent5, fg-bold);
	}
}
article#main a.invisible {
	border-bottom: 0;
	&:hover {
		background-color: transparent;
	}
}

ul.events, article#main ul.events {
	@include vendor('display', 'flex');
	@include vendor('flex-wrap', 'wrap');
	@include vendor('justify-content', 'center');
	list-style: none;
	padding: 0;
	width: 100%;

	li {
		font-family: 'Raleway', sans-serif;
		display: block;
		position: relative;
		text-align: left;

		a {
			@include border-radius(10px);
			padding: 20px;
			border-bottom: 0;
			display: block;
			overflow: hidden;
			&:hover {
				border-bottom: 0;
				background-color: _palette(bg);
			}

			.date {
				font-family: 'Raleway', sans-serif;
				float:left;
				position: relative;
				width: 114px;
				height: 114px;
				background: url('/images/date-bg.svg');
				background-repeat: no-repeat;
				text-align: center;
				color: _palette(bg);

				.day, .month {
					position: absolute;
					right: 0;
					left: 0;
				}

				.day {
					top: 25px;
					font-weight: bold;
					font-size: 45px;
					line-height: 1;
				}

				.month {
					bottom: 25px;
					font-size: 16px;
					line-height: 1;
				}

				@include breakpoint(medium) {
					float: none;
					width: 100%;
					background-position: center center;
				}
			}

			.when-where {
				float:left;
				margin-left: 10px;
				text-align: center;

				@include breakpoint(medium) {
					float: none;
					width: 100%;
				}

				.title {
					margin-top: 6px;
					font-size: 1.1em;
					margin-bottom:0;
				}

				address {
					font-size: 0.9em;
					letter-spacing: 0;
				}
			}
		}
	}
}

ul.events_inverse {
	li {
		a {
			background-color: _palette(accent1, bg);
			color: _palette(fg);
		}
		.when-where {
			.title {
				color: _palette(fg);
			}
		}
	}
}

// ------------------------------------------- spacer

.or-spacer {
	width: 50%;
	margin: 0 auto;
	position: relative;
	margin-bottom: 50px;

  .mask {
    overflow:hidden; height:20px;
    &:after {
      content:'';
      display:block; margin:-25px auto 0;
      width:100%; height:25px;
      border-radius:125px / 12px;
      box-shadow:0 0 8px black;
    }
  }
  span {
    $size:50px;
    width:$size; height:$size;
    position:absolute;
    bottom:100%; margin-bottom:-$size/2;
    left:50%; margin-left:-$size/2;
    border-radius:100%;
    box-shadow:0 2px 4px #999;
    background:white;
  }
  span i {
    $offset:4px;
    position:absolute;
    top:$offset; bottom:$offset;
    left:$offset; right:$offset;
    border-radius:100%;
    border:1px dashed #aaa;

    text-align:center;
    line-height:40px;
    font-style:normal;
    color:#999;
  }
}

// ------------------------------------------- rotoate logo

@-webkit-keyframes rotateLogo {
    0% {
    	@include transform(rotate(0deg));
    }
    50% {
    	@include transform(rotate(0deg));
    }
    60% {
    	@include transform(rotate(360deg));
    }
    100% {
    	@include transform(rotate(360deg));
    }
}

#hslogo {
    -webkit-animation-name:             rotateLogo;
    -webkit-animation-duration:         6s;
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function:	ease-in-out;
    -webkit-animation-delay: 3s;
}

// ------------------------------------------- misc

.focus {
	font-size: 1.3em;
}

.stuff {
	&:before {
		content: "\f138";
		font-family: 'FontAwesome';
		padding-right: 6px;
		font-size: 36px;
		position: relative;
		top: 4px;
		left: -10px;
	}
	color: _palette(fg) !important;
	background-color: _palette(bg);
	@include border-radius(10px);
}

img.profile {
	width: 150px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/s….3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}

img.right {
	display: inline;
	float: right;
	margin-left: 20px;
}

.item {
	letter-spacing: 0;
	i {
		font-size: 2em;
		float: left;
		display: inline;
		margin-right: 8px;
		position: relative;
		top:10px;
	}
	margin: 30px 0;
	.date {
		font-size: 0.8em;
		font-weight: bold;
	}
}


.event_box {
	padding: 2em 2em 0.1em 2em;
	border: 1px solid _palette(accent7, border);
	margin-bottom: 2em;

	.venue1 {
		font-size: 0.9em;
		text-align: center;
		margin-top: 8px;
		line-height: 1.1em;
		font-weight: bold;
		color: _palette(accent7, fg);
	}
	.venue2 {
		font-size: 0.9em;
		text-align: center;
		font-weight: bold;
		line-height: 1.1em;
		margin-top: 4px;
		color: _palette(accent7, fg);
		margin-bottom: 8px;
	}
	.venue3 {
		padding: 0 20%;
	}
	.map {
		width:100%;
		height:200px;
	}
}


.related-side {
	float: right;
	font-size: 0.9em;
	background: url(/images/arrow3.png) no-repeat 20px -20px;
	width: 30%;
	border-left: 1px dotted #666;
	letter-spacing: 0;
	padding-top: 100px;
	z-index: 100;
	ul {
		li {
			list-style: none;
		}
	}
}

.related-line {
	font-size: 0.9em;
	background: url(/images/arrow2.png) no-repeat 0 0;
	letter-spacing: 0;
	padding: 26px 0 40px 120px;
	ul {
		li {
			float: left;
			list-style: none;
			border-right: 1px solid #666;
			padding-right: 10px;
			font-style: italic;
		}
	}
	overflow: hidden;
}

h3.sponsor {
	margin-top: 20px;
}

blockquote p:last-child {
	margin-bottom: 0;
}

#main header img {
	width: 20em;
	z-index: 10;
	position: absolute;
	top: 4em;
	left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;

    @include breakpoint(large) {
    	width: 16em;
    }

    @include breakpoint(medium) {
    	width: 18em;
    }

	@include breakpoint(small) {
		width: 10em;
	}

}

.left {
	float: left;
}
img.left {
	margin-right: 10px;
}
.right {
	float: right;
}
img.right {
	margin-left: 10px;
}