@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'font-awesome.min.css';
@import 'libs/skel';

@import "compass/css3";


ul.events {
	@include vendor('display', 'flex');
	@include vendor('flex-wrap', 'wrap');
	@include vendor('justify-content', 'center');
	list-style: none;
	padding: 0;
	width: 100%;

	li {
		font-family: 'Raleway', sans-serif;
		display: block;
		position: relative;
		text-align: left;
		width: 50%;

		a {
			@include border-radius(10px);
			@include padding(1em, 1em, (0,0,0,2em));
			border-bottom: 0;
			display: block;
			&:hover {
				border-bottom: 0;
				background-color: _palette(bg);
			}

			.date {
				font-family: 'Raleway', sans-serif;
				float:left;
				position: relative;
				width: 114px;
				height: 114px;
				background: url('/images/date-bg.svg');
				text-align: center;
				color: _palette(bg);

				.day, .month {
					position: absolute;
					right: 0;
					left: 0;
				}

				.day {
					top: 25px;
					font-weight: bold;
					font-size: 45px;
					line-height: 1;
				}

				.month {
					bottom: 25px;
					font-size: 16px;
					line-height: 1;
				}
			}

			.when-where {
				text-align: center;
				padding-bottom: 50px;
			}
		}
	}
}

// ------------------------------------------- spacer

.or-spacer {
	width: 50%;
	margin: 0 auto;
	position: relative;
	margin-bottom: 50px;

  .mask {
    overflow:hidden; height:20px;
    &:after {
      content:'';
      display:block; margin:-25px auto 0;
      width:100%; height:25px;
      border-radius:125px / 12px;
      box-shadow:0 0 8px black;
    }
  }
  span {
    $size:50px;
    width:$size; height:$size;
    position:absolute;
    bottom:100%; margin-bottom:-$size/2;
    left:50%; margin-left:-$size/2;
    border-radius:100%;
    box-shadow:0 2px 4px #999;
    background:white;
  }
  span i {
    $offset:4px;
    position:absolute;
    top:$offset; bottom:$offset;
    left:$offset; right:$offset;
    border-radius:100%;
    border:1px dashed #aaa;

    text-align:center;
    line-height:40px;
    font-style:normal;
    color:#999;
  }
}

// ------------------------------------------- rotoate logo

@-webkit-keyframes rotateLogo {
    0% {
    	@include transform(rotate(0deg));
    }
    50% {
    	@include transform(rotate(0deg));
    }
    60% {
    	@include transform(rotate(360deg));
    }
    100% {
    	@include transform(rotate(360deg));
    }
}

#hslogo {
    -webkit-animation-name:             rotateLogo;
    -webkit-animation-duration:         6s;
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function:	ease-in-out;
    -webkit-animation-delay: 3s;
}

// ------------------------------------------- misc

.focus {
	font-size: 1.3em;
}

.stuff {
	&:before {
		content: "\f138";
		font-family: 'FontAwesome';
		padding-right: 6px;
		font-size: 36px;
		position: relative;
		top: 4px;
		left: -10px;
	}
	color: _palette(fg) !important;
	background-color: _palette(bg);
}

img.profile {
	width: 150px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/s….3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}

img.right {
	display: inline;
	float: right;
	margin-left: 20px;
}

.item {
	i {
		font-size: 2em;
		float: left;
		display: inline;
		margin-right: 8px;
		position: relative;
		top:10px;
	}
	margin: 30px 0;
}